{{ define "main" }}
<article class="page-single">
    <header class="post-header">
        <h1 class="post-title">{{ .Title }}</h1>
    </header>
    <div class="archives">
        {{ $posts := where .Site.RegularPages "Section" "posts" }}
        {{ range $posts.GroupByDate "2006" }}
        <section class="archive-year">
            <h2 class="archive-year-title">{{ .Key }}</h2>
            <ul class="archive-list">
                {{ range .Pages.ByDate.Reverse }}
                <li>
                    <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "01月02日" }}</time>
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </li>
                {{ end }}
            </ul>
        </section>
        {{ end }}
    </div>
</article>
{{ end }}
